  
body {
    background-color: rgb(70, 236, 125);
    font: normal 16pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px, 5px, 10px black;
}
footer {
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    color: rgb(83, 81, 211);
    background-color: white;
    width: 500px;
    margin: auto;
}
div {
    text-align: center;
    padding: 8px;
}
textarea{
    font: normal 20pt Arial;
    color: white;
    background-color: rgb(168, 168, 168);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border-radius: 10px;
}
#areaResposta{
    display: flex;
    flex-direction: row;
}
#res{
    width: 50px;
}
button{
    border-radius: 5px;
    
}